.part-heading {
    text-align: center;
}

.part-pic {
    border-radius: 30px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/* tr {
    border: 3px solid black;
    border-collapse: collapse;
} */

.fa-IR-explanation {
    font-family: BNazanin;
    font-display: swap;
}


.fa-IR-explanation-header{
    font-family: BTitr;
    font-display: swap;
}