.part-heading {
    text-align: center;
    font-family: BTitr;
    font-display: swap;
}

.part-pic {
    border-radius: 30px;
}

table {
    border-collapse: collapse;
    width: 100%;
    font-family: BNazanin;
    font-display: swap;
  }
  
td, th {
    border: 1px solid #ffd966;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #fff2cc;
}

.table-pseudo-heading {
    font-family: BTitr;
    font-display: swap;
}

/* tr {
    border: 3px solid black;
    border-collapse: collapse;
} */

.fa-IR-explanation {
    font-family: BNazanin;
    font-display: swap;
}


.fa-IR-explanation-header{
    font-family: BTitr;
    font-display: swap;
}